.card {
  border: 1px solid #ccc;
  padding: 1.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.205);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.email {
  color: #555;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

/* Shared base button styles */
.buttonBase {
  background: transparent;
  border: 1px solid #a19d9d;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s;
  &:hover {
    transform: scale(1.05); // grow by 5%
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
}

/* Specific variants */
.archiveBtn {
  @extend .buttonBase;
  border: 2px solid  #7B3728;;

  &:hover {
    border: 2px solid  #7B3728;;
    background: #7b372860;
  }
}

.editBtn {
  @extend .buttonBase;
  border: 2px solid #287B6C; 

  &:hover {
    border: 2px solid #287B6C; 
    background: #287b6c4b
  }
}

.detailsBtn {
  @extend .buttonBase;
  border: 2px solid #0c4186; 

  &:hover {
    border: 2px solid #0c4186; 
    background: #0c418669;
  }
}
